<footer>


    <img class="patroon" src="/patroon.png" alt="">
   
   
       <div class="footer_ul">
   
           <ul class="ul_footer">
               <li class="color">SOCIAL</li>
               <li>Facebook</li>
               <li>Instagram</li>
               <li>YouTube</li>
           </ul>
   
           <ul class="ul_footer">
               <li class="color">MENU</li>
               <li>Voor Mini</li>
               <li>Vini Mini Producten</li>
               <li>Over ons</li>
               <li>Nieuws</li>
               <li>Contact</li>
               <li>Zoeken</li>
           </ul>
   
           <ul class="ul_footer">
               <li class="color">INFO & HELP</li>
               <li>Algemene voorwaarden</li>
               <li>Privacy voorwaarden</li>
               <li>Veelgestelde vragen</li>
           </ul>
   
       </div>
   
       <p class="copyright">© 2023. Alle rechten voorbehouden. Vinimini.</p>   
   
   </footer>
   
   
   
   </body>
   
   </html>