<footer>

   

    <div class="producten-footer">

        <img class="certified" src="/Certified_B_Corporation_PENDING-MED_120x200.avif" alt="certified">

        <ul class="producten-ul">
            <li class="color">SOCIAL</li>
            <li>Facebook</li>
            <li>Instagram</li>
            <li>YouTube</li>
        </ul>

        <ul class="producten-ul">
            <li class="color">MENU</li>
            <li>Voor Mini</li>
            <li>Vini Mini Producten</li>
            <li>Over ons</li>
            <li>Nieuws</li>
            <li>Contact</li>
            <li>Zoeken</li>
        </ul>

        <ul class="producten-ul">
            <li class="color">INFO & HELP</li>
            <li>Algemene voorwaarden</li>
            <li>Privacy voorwaarden</li>
            <li>Veelgestelde vragen</li>
        </ul>

        <p class="copyright">© 2023. Alle rechten voorbehouden. Vinimini.</p>

    </div>



    <img class="patroon-mobile" src="/patroon.png" alt="">

</footer>

</body>

</html>