<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="public/png" href="/favicon.png" />
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="/script.js" defer></script>
    <title>Homepagina | vinimini.nl</title>
</head>
 
<header>
    <div class="aankoop_banner">
        <p class="verzending_banner">📨GRATIS VERZENDING BIJ AANKOOP STARTKIT + OPVOLGKIT 📨</p>
    </div>

    <nav>
        <img class="viniminilogo" src="/logo.png" alt="viniminilogo">
        <ul>
            <li>Voor Mini</li>
            <li>Vini Mini Producten</li>
            <li>Over ons</li>
            <li>Nieuws</li>
            <li><img class="searchicon" src="/search.svg" alt="iconsearch">Contact</li>
            <li>Zoeken</li>
        </ul>

        <div class="icon">
            <img src="/shopping-cart.svg" alt="iconshoppingcar">
            <img src="/user.svg" alt="iconuser">
            <p class="pepijn">Pepijn</p>
        </div>
    </nav>


</header> 

<body>