<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="public/png" href="/favicon_vinimini.png" />
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <title>Alle producten | vinimini.nl</title>
</head>



<body>

    <header class="vinimini-header">
        <h1>📨gratis verzending bij aankoop startkit + opvolgkit📨</h1>
    </header>
    <nav>
        <img class="viniminilogo" src="LOGO-ORGINEEL-VINI-MINI-OKT-2021_284x200.avif" alt="vinimini">
        <ul class="navbar-items">
            <li><a href="#" class="nav-content">Home</a></li>
            <li><a href="#" class="nav-content">Voor Mini</a></li>
            <li><a href="#" class="nav-content">Vini Mini Producten</a></li>
            <li><a href="#" class="nav-content">Over ons</a></li>
            <li><a href="#" class="nav-content">Nieuws</a></li>
            <li><a href="#" class="nav-content">Contact</a></li>
            <li><a href="#" class="nav-content">Zoeken</a></li>
        </ul>

        <ul class="navbar-icon-items">
            <li><img src="/shopping-cart.svg" class="navbar-icon-content" alt="iconshoppingcar"></li>
            <li><img src="/user.svg" class="navbar-icon-content" alt="iconshoppingcar"></li>
            <li><img src="/align-justify.svg" class="navbar-icon-content" alt="iconmenu">
                <p class="p-menu">Menu</p>
            </li>
        </ul>


    </nav>