<%- include('./Partials/head') %>


    <main>

       <h1 class="main-title">
            alle producten
        </h1>
        <p class="product-test">
            Doe altijd eerst de Vini Mini test voordat je onze producten koopt. Zo weet jij of je in 3 of 6 kleine
            stapjes kunt beginnen met voor het eerst allergenen te geven.
        </p>

        <p class="product-arts">
            Overleg voor je begint altijd met een arts of het consultatiebureau.
        </p>

        <div class="image-div">
            <img src="/pinda-producten.webp" alt="pinda producten" class="pinda-image">
        </div> 

        <section class="roelie">
            <% categories.forEach(categorie => { %>
                <% if(categorie.titel==="Ei" || categorie.titel==="Pinda" ) { %>
                    <article class="producten-div">
                        <h2>
                            <%= categorie.titel %>
                        </h2>
                        <img class="article-img" src="/<%=categorie.titel%>.jpg">
                        <a class="product-btn" href="#">Bekijk producten</a>
                    </article>
                    <% } %>
                        <% }); %>
        </section>
        <!-- <img class="pindas-img" src="/31.webp" alt="pinda"> -->
    </main>


<%- include('./Partials/foot') %>