* {
    box-sizing: border-box;
    margin: 0;
    font-family: monsterrat, sans-serif;
}


:root {
    --clr-yellow: #f4eb34;
    --clr-green: #72afa6;
    --top-margin: 0rem;
    --left-margin: 0rem;
    --right-margin: 0rem;
}

.vinimini-header {
    padding-top: .25rem;
    padding-bottom: .25rem;
    background-color: var(--clr-yellow);
}

.vinimini-header h1 {
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    font-weight: lighter;
}



@media screen and (min-width: 930px ) {
    .vinimini-header h1 {
        font-size: 16px;
    }
}